<nav aria-label="{{ 'Breadcrumb'|t }}">
    <ol class="mb-6 flex flex-wrap space-x-2 text-xs tracking-widest uppercase font-mono">
        {% for crumb in craft.navigation.breadcrumbs()|slice(1) %}
            <li class="whitespace-nowrap {{ not loop.last ? "after:ml-1 after:content-['/'] after:opacity-25" }}">
                {% if loop.last %}
                    <span aria-current="page">{{ crumb.title }}</span>
                {% else %}
                    <a href="{{ crumb.url }}" class="underline">{{ crumb.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
