{% set data = {
    as: 'a',
    url: '',
    text: '',
    size: 'base',
    theme: 'primary',
    classes: [],
    attributes: {}
}|merge(_context) %}

{% set sizeClasses = {
    sm: 'px-4 py-2 text-sm',
    base: 'px-5 py-2.5 text-sm',
    md: 'px-6 py-3.5',
    lg: 'px-6 py-3.5 text-lg',
} %}

{% set themeClasses = {
    primary: 'border border-gray-800 bg-gray-800 text-white',
    secondary: 'border',
    tertiary: 'border border-gray-200 bg-gray-200',
} %}

{% set classes = [
    'inline-block',
    themeClasses[data.theme]|default(),
    sizeClasses[data.size]|default(),
]|merge(data.classes)|join(' ') %}

{% if data.as == 'a' %}
    <a href="{{ data.url }}" {{ attr(data.attributes) }} class="{{ classes }}">{{ data.text }}</a>
{% else %}
    <button {{ attr(data.attributes) }} type="button" class="{{ classes }}">{{ data.text }}</button>
{% endif %}
