{% import '_includes/builder/classes' as classes %}

<footer role="contentinfo" class="py-6">
    <div class="{{ classes.maxWidth('contain') }} flex space-x-6 justify-between text-sm">
        <div class="flex items-center space-x-6">
            {% if globals.copyrightNotice|length %}
                <p>{{ globals.copyrightNotice|replace({
                    ':year': 'now'|date('Y'),
                    ':siteName': siteName,
                }) }}</p>
            {% endif %}
            <nav aria-label="{{ 'Footer navigation'|t }}">
                <ul class="flex space-x-6">
                    <li><a href="{{ url('') }}">{{ 'Home'|t }}</a></li>
                </ul>
            </nav>
        </div>
        {% set socialProfiles = globals.socialProfiles.all() %}
        {% if socialProfiles|length %}
            <nav aria-label="{{ 'Social Networks'|t }}">
                <div class="flex space-x-2">
                    {% for socialProfile in socialProfiles %}
                        <a
                            href="{{ socialProfile.profileUrl }}"
                            {% if socialProfile.profileUrl.target %} target="{{ socialProfile.profileUrl.target }}" {% endif %}
                            rel="{{ socialProfile.profileUrl.rel ?? 'nofollow noopener noreferrer' }}"
                            aria-label="{{ 'Visit {profile}'|t({ 'profile': socialProfile.socialNetwork.label }) }}"
                        >
                            {{ svg('@svg/social/' ~ socialProfile.socialNetwork ~ '.svg')|attr({
                                'title': socialProfile.socialNetwork.label,
                                'class': 'size-4',
                                'focusable': false,
                                'aria-hidden': true,
                            }) }}
                        </a>
                    {% endfor %}
                </div>
            </nav>
        {% endif %}
    </div>
</footer>
