<footer role="contentinfo">
    <div>
        <p>&copy; {{ 'now'|date('Y') }} {{ siteName }}.</p>
        <nav aria-label="{{ 'Footer navigation'|t }}">
            <ul>
                <li><a href="{{ url('') }}">{{ 'Home'|t }}</a></li>
            </ul>
        </nav>
    </div>
</footer>
