<header role="banner">
    <div>
        <a href="{{ url('/') }}">{{ siteName }}</a>
        <nav aria-label="{{ 'Main navigation'|t }}">
            <ul>
                <li><a href="{{ url('') }}">{{ 'Home'|t }}</a></li>
            </ul>
        </nav>
    </div>
</header>
