{%- set tags = globals.tags.eagerly().all() -%}

<!doctype html>
<html lang="{{ craft.app.language|slice(0, 2) }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="csrf-token" content="{{ craft.app.request.csrfToken }}">
        <link rel="home" href="{{ siteUrl }}">

        {# Generate at https://realfavicongenerator.net -#}
        <link rel="icon" type="image/png" href="{{ siteUrl('favicon-96x96.png') }}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{{ siteUrl('favicon.svg') }}" />
        <link rel="shortcut icon" href="{{ siteUrl('favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl('apple-touch-icon.png') }}" />
        <link rel="manifest" href="{{ siteUrl('site.webmanifest') }}" />

        {%- block resourceHints %}
            {#- Override or extend this block to add preconnect/dns-prefetch hints -#}
        {% endblock %}

        {{ craft.vite.script('src/js/site.js', false) }}

        {% for tag in tags|filter(tag => tag.position == 'head') %}
            {{ tag.code|raw }}
        {% endfor %}
    </head>
    <body>
        <noscript>
            <p>{{ 'This website works best when you have JavaScript enabled.'|t }}</p>
        </noscript>

        {% include '_partials/skip-link' %}

        {% if craft.app.config.general.devMode %}
            {% include '_dev/breakpoint-helper' %}
        {% endif %}

        {% block body '' %}

        {% block beforeScripts '' %}
        {% block afterScripts '' %}

        {% for tag in tags|filter(tag => tag.position == 'bodyEnd') %}
            {{ tag.code|raw }}
        {% endfor %}
    </body>
</html>
