{% import '_macros/classes' as classes %}

{% set columns = block.columns.eagerly().all() %}
{% set key = [key, 'columns', columns|length]|join(':') %}

{% if columns|length %}
    <div class="
        grid {{ classes.columnLayout(block.columnLayout.value) }}
        gap-6 lg:gap-16 xl:gap-20 2xl:gap-32 3xl:gap-48 4xl:gap-60
        {{ classes.verticalAlignment(block.verticalAlignment.value ?? 'top') }}
    ">
        {% for column in columns %}
            <div class="flex-1 flex flex-col">
                {# <code class="block mb-6 text-xs text-red-500">
                    {{ '_builder/blocks/columns/' ~ columns|length ~ '/' ~ column.type|kebab }}<br>
                    {{ '_builder/blocks/columns/' ~ column.type|kebab }}<br>
                    {{ '_builder/blocks/' ~ column.type|kebab }}
                </code> #}

                {% include [
                    '_builder/blocks/columns/' ~ columns|length ~ '/' ~ column.type|kebab,
                    '_builder/blocks/columns/' ~ column.type|kebab,
                    '_builder/blocks/' ~ column.type|kebab,
                 ] with {
                    block: column,
                    context: 'columns/' ~ columns|length,
                    key: key,
                } only %}
            </div>
        {% endfor %}
    </div>
{% endif %}
