<article class="h-96">
    <a href="{{ entry.url }}" class="flex flex-col justify-between h-full p-12 bg-white/5" aria-labelledby="card-title-{{ entry.id }}">
        <div class="mb-2">{{ entry.type.name }}</div>
        <div class="text-sm text-gray-500">
            Create a template in <code class="text-xs">_builder/blocks/content-cards/{{ entry.type|kebab }}</code> to customise this card.
        </div>
        <h3 id="card-title-{{ entry.id }}" class="mt-24 text-xl font-medium">{{ entry.title }}</h3>
    </a>
</article>
