{% import '_includes/builder/classes' as classes %}

{% set textRight = block.mediaPosition.value == 'left' %}

{# [1fr_1.213fr] #}
<div class="
    grid grid-cols-1 lg:grid-cols-2
    gap-6 lg:gap-16 xl:gap-20 2xl:gap-32 3xl:gap-48 4xl:gap-60
    {{ classes.verticalAlignment(block.verticalAlignment.value) }}
">
    <div class="{{ textRight ? 'lg:order-1' : 'lg:order-2' }}">
        {% set mediaType = block.mediaType.value %}

        {% if mediaType == 'image' %}
            {% include '_includes/builder/blocks/image' with { key: key ~ ':text-and-media' } %}
        {% elseif mediaType == 'video' %}
            <figure class="{{ classes.aspectRatio(block.aspectRatio.value) }} bg-black rounded-xl overflow-hidden">
                <video muted controls class="w-full h-full object-cover">
                    <source src="{{ block.videoUrl }}" type="video/mp4">
                </video>
            </figure>
        {% endif %}
    </div>

    {% set textClassKey = key ~ ':media-' ~ block.mediaPosition.value %}

    <div class="flex items-center justify-center {{ textRight ? 'lg:order-2' : 'lg:order-1' }} {{ classes.sectionTextContainer(textClassKey ?? null) }}">
        <div class="lg:max-w-2xl space-y-6">
            {# <code class="text-xs text-blue-500">{{ textClassKey }}</code> #}
            {% include '_includes/builder/builder' with {
                context: 'text-and-media',
                blocks: block.textContent.all(),
            } only %}
        </div>
    </div>
</div>
